
/* brought over CSS from previous project
for reference.


body {
  background-image: url('./linen2x.png');
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1; 
}

 textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 1px; 

}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.lead {
  color: blue;
}

.col-md-1, .col-md-2, .col-md-9 {
  padding: 0;
}

.dailyPlan {
  color: black;  
  font-size: 12pt;
  height:100%;
  width: 100%;
}

.row {
  height: 50px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 1em;
  line-height: 1.5;
  border-radius: 15px;
}

.timeBox {
  background-color: linen; 
  text-align: center;
  color: black;
  border-radius: 15px 0px 0px 15px;  
  display: inline-block;
  font-size: 1em;
  height: 100%;
  width: 100%;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}



.saveIcon {
  background-color: darkturquoise;
  color: linen;
  border-radius: 0px 15px 15px 0px;
  float: right;  font-size: 1.5em;
  width: 100%;
  height: 100%;
  text-align: center;
}

media query for screen size to be applied to center text to switch at same time as navbar 
@media (max-width: 768px) {
  .container-fluid {
   removes paddding on either side 
    padding-left: 0;
    padding-right: 0;
  }
  .plannerRow {
    height: 100%;
    border-radius: 10;
    margin: 10px;
  }

  .saveIcon { border-radius: 0 0 15px 15px; }

  .timeBox { border-radius: 15px 15px 0 0; }
}

@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');

.wrapper
{ 
  padding: 20px;     
} 

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}
.shadowPulse {
  animation: shadow-pulse 1s infinite;
}

*/